<!DOCTYPE html>
<html lang="et">
	<head>
		<meta charset="UTF-8">
		<title>Maiko Nigul, veebiprogrammeerine</title>
	</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Maiko Nigul, veebiprogrammeerine</h1>
	<p>See leht on loodud veebiprogrammeerise kursusel <a href="https://www.tlu.ee/">Tallinna Ülikool</a> ning ei sisalda tõsiseltvõetavat sisu!</p>
	<hr>
	<ul>
		<li><a href = "/timenow">Ajainfo</a></li>
		<li><a href = "/vanasonad">Vanasõnad</a></li>
		<li><a href = "/regvisit">Pane oma külastus kirja</a></li>
		<li><a href = "/visitlog">Logiraamat</a></li>
	</ul>
</body>
</html>