<!DOCTYPE html>
<html lang="et">
	<head>
		<meta charset="UTF-8">
		<title>Maiko Nigul, veebiprogrammeerine</title>
	</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Maiko Nigul, veebiprogrammeerine</h1>
	<p>See leht on loodud veebiprogrammeerise kursusel <a href="https://www.tlu.ee/">Tallinna Ülikool</a> ning ei sisalda tõsiseltvõetavat sisu!</p>
	<hr>
	<ul>
		<li><a href = "/">Avaleht</a></li>
	</ul>
	<hr>
	<h2>Pane end külastajana kirja</h2>
	<form method="POST">
		<label for="nameInput">Nimi</label>
		<input id="nameInput" type="text" name="nameInput" placeholder="Kirjuta Siia oma nimi...">
		<br>
		<input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
	</form>
</body>
</html>